<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EX03</title>
    <style>
        th,td,table{
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>로긘</h1>
<form role="form" method="post" action="work">

            <label>아이디</label>
            <input type="text" name="id"> <br>
    <label>비번</label>
            <input type="text"  name="pw"> <br>
        <button type="submit">로그인</button>
</form>
</body>
</html>